<div class = "card" id="comment{{this._id}}">


{{!-- id="{{this._id}}"> --}}
    <div class = "card-block">
        <h4 class = "card-title">{{this.title}}</h4>
        {{!-- <p>{{this}}</p> --}}
        <p class = "card-text">{{this.content}}</p>
        <p>
            <button class="btn btn-link" id = "delete{{this._id}}" data-comment-id="{{this._id}}">Delete</button>
            {{!-- <button class="btn btn-link delete-comment" data-comment-id="{{this._id}}">Delete</button> --}}
        </p>
    </div>
</div>

<script>
    $("#delete{{this._id}}").click(function() {
     console.log('click!');
     let commentId = this.getAttribute('data-comment-id')
     console.log(commentId)
     console.log(commentId)

     axios.delete(`/reviews/comments/${commentId}`)
         .then(response => {
             console.log(response)
             console.log(commentId)
             $(`#comment${commentId}`).remove()
         })
         .catch(error => {
             // console.log('this is error')
             // console.log(error)
             // alert('There was an error deleting this comment.')
         });
 })
</script>
