<h1>Now Playing</h1>
{{#each movies}}
  <a href = "/movies/{{this.id}}"><img src = "https://image.tmdb.org/t/p/w500/{{this.poster_path}}"><li>{{this.title}}</li></a>

  {{!-- <a href="/movies/{{this.id}}"><li>{{this.title}}</li></a> --}}
{{/each}}